<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlphaVantage.Net.Core" version="1.0.3" targetFramework="net471" />
  <package id="AlphaVantage.Net.Stocks" version="1.0.3" targetFramework="net471" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net471" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.0.2" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Net.Http.Headers" version="2.0.2" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net452" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.4.0" targetFramework="net471" />
</packages>